body {
  background-color: #177e89;
  text-align: center;
  width: 800px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  /* border: 1px solid #323031; */
  height: 600px;
}

h1 {
  background-color:#084c61;
  color: antiquewhite;
  margin: 0;
  padding: 10px;
}

form {
  display: inline-block;
  justify-content: center;
}

button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  cursor: pointer;
}

button:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}

button:active {
	position:relative;
  top:1px;
}

.modal-content {
  background-color: #084c61;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 200px;
  border-radius: 15px;
  border: 1px solid #323031;
  color: antiquewhite;
}

#bookEntry {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#books {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

#books th:nth-child(3),
#books th:nth-child(4),
#books th:nth-child(5){
  width: 15%;
}

#books td, #books th {
  border: 1px solid #323031;
  padding: 8px;
}

#books tr {
  background-color: #ffc857;
}

#books th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #db3a34;
  color: white;
}

#submit,
.close {
  font-size: 13px;  
}

#bookName, #authorName, #pageNumber, #readBook {
  margin-top: 5px;
}

